<h1>Attribute Directives</h1>
<p myHighlight>Highlight me!</p>


<h1>Mouse Over Events</h1>
<div style="margin-top: 30px; border: 2px solid #000; background-color: #ccc;">
<p style="padding: 12px 6px; margin-bottom: 0px;" myEvents> Mouse Over Events </p>
</div>

<div style="margin-top: 30px;">
<h4 style="margin-bottom: 15px;">Choose a highlight color</h4>

<div style="margin-bottom: 15px;">
  <input type="radio" name="colors" (click)="color='violet'">Violet <br>
  <input type="radio" name="colors" (click)="color='cyan'">Cyan     <br>
  <input type="radio" name="colors" (click)="color='orange'">Orange <br>     
</div>

<p [myHighlight]="color">Highlight me!</p>

</div>

<h1>Structural Directives</h1>

<p *ngIf="true">
  Expression is true and ngIf is true.<br>
  It displays the paragraph in the DOM.
</p>

<p *ngIf="true">
  Expression is false and ngIf is false.<br>
  It will not display the paragraph in the DOM.
</p>


<h1>Examples for switch case</h1>

<ul [ngSwitch]="person">
  <li *ngSwitchCase="'venu'">Hi I am Venu. I am a senior UI Developer</li>
  <li *ngSwitchCase="'suraj'">Hi I am Suraj. I am senior UX Designer</li>
  <li *ngSwitchCase="'ashish'">Hi I am Ashish. I am an Art Director</li>
  <li *ngSwitchDefault>Bye Bye</li>
</ul> 


<h2>Displays the number whether it is odd or even</h2>
<div *ngFor="let id of ids">
  Id is {{id}}
  <div ngSwitch="{{id%2}}">
	<div *ngSwitchCase="'0'" [ngClass]="'1'">I am Even.</div>
	<div *ngSwitchCase="'1'" [ngClass]="'2'">I am Odd.</div>
	<div *ngSwitchDefault>Nothing Found.</div>
  </div> 	
</div>  


<h2>Displaying the data from an array</h2>
<ul>
   <li *ngFor="let hero of heroes">
       Hi this {{ hero }}. 
   </li>
</ul>